Source: ros-humble-naoqi-bridge-msgs
Section: misc
Priority: optional
Maintainer: "Victor Paléologue" <victor.paleologue@palaio.eu>
Build-Depends: debhelper (>= 9.0.0), ros-humble-action-msgs, ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rosidl-default-generators, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-trajectory-msgs, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/naoqi_bridge_msgs/#humble
Standards-Version: 3.9.2

Package: ros-humble-naoqi-bridge-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-action-msgs, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rosidl-default-runtime, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-trajectory-msgs, ros-humble-ros-workspace
Conflicts: ros-humble-naoqi-msgs
Replaces: ros-humble-naoqi-msgs
Description: The naoqi_bridge_msgs package provides custom messages for running Aldebaran's robots in ROS2.
